@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@media screen and (min-width: 800px) {
  .headone .headleft {
    display: none;
  }

  .headright {
    width: 80%;
  }

  .headone .headright .right {
    display: none;
  }

  .headone {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .headone .headright nav {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: #1a2236;
  }

  .headone .headright nav ul li {
    display: inline-block;
    margin-right: 0.5em;
    padding: 10px;
  }

  .headone .headright nav ul li a {
    color: #1a2236;
    text-decoration: underline;
  }

  .headone .headright nav ul li a:not(#hello) {
    text-decoration: none;
    padding: 15px;
  }

  section {
    width: 100%;
    max-height: 800px;
    display: flex;
  }

  section .top-in {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .top-in .top-in-one {
    width: 80%;
  }

  section .top-out #image {
    display: none;
  }

  section .top-out {
    display: flex;
    justify-content: flex-end;
  }

  section .top-out .image-down {
    width: 66%;
  }

  .section-main {
    display: none;
  }

  .div-one {
    min-height: 500px;
    width: 100%;
  }

  .About-top {
    display: none;
  }

  .headlefte {
    display: none;
  }

  .last {
    width: 100%;
    height: 600px;
  }

  .last #geome {
    width: 20%;
  }

  .last #geome img {
    width: 100%;
  }

  #start {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #start .place {
    width: 60%;
  }

  .last #geot {
    display: flex;
    align-items: flex-end;
    width: 25%;
  }

  .last #geot img {
    width: 100%;
  }

  footer {
    margin-top: 20px;
    background-color: #1a2236;
    display: flex;
  }

  #resume {
    padding: 1em 2em;
    width: 50%;
    color: white;
    display: flex;
    justify-content: flex-start;
  }

  #resume .rest {
    display: none;
  }

  #resume #restin {
    width: 80%;
  }

  #resume #restin button {
    padding: 1em 6em 1em 1em;
    font-size: 1em;
    position: relative;
    color: #92dcdc;
    background-color: #1a2236;
    border: none;
  }

  #resume #restin button img {
    position: absolute;
    left: 120px;
    top: 10px;
  }

  #footerimage {
    width: 50%;
    padding: 2em 0.8em;
    display: flex;
    justify-content: flex-end;
  }

  #footerimage .twit {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .headone .headright nav {
    display: none;
  }

  section .top-out .image-down {
    display: none;
  }

  #section-three {
    width: 100%;
  }

  #section-three .plan-top {
    width: 100%;
  }

  #section-three .plan-top .lap {
    width: 100%;
  }

  #section-three .plan-top .plan {
    background-color: #1a2236;
    width: 100%;
  }

  .div-one {
    display: none;
  }

  #section-three .plan-top .plan .plan-bottom {
    width: 90%;
    margin: 0 auto;
  }

  .bottom-about {
    display: none;
  }

  #start .hadimage {
    display: none;
  }

  .last-bottom {
    display: none;
  }

  .dow {
    display: none;
  }

  #geot {
    display: none;
  }

  #geome {
    display: none;
  }

  footer {
    margin-top: 20px;
    background-color: #1a2236;
    display: flex;
    flex-direction: column;
  }

  #resume {
    padding: 2em 0.8em;
    width: 100%;
    color: white;
  }

  #footerimage {
    width: 100%;
    padding: 2em 0.8em;
  }

  #resume #restin {
    display: none;
  }
}
