@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9fa;
  overflow-x: hidden;
}

header {
  width: 100%;
  background-color: #fff;
}

.headleft {
  /* background-color: red; */
  height: 120px;
  width: 80%;
  background-size: cover;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-img {
  display: none;
}

.modal-prev a {
  text-decoration: none;
  color: #1a2236;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 25px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.nav-menu > li {
  list-style: none;
}

.nav-menu > li > a {
  color: #1a2236;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.8em;
  height: 5px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  margin-right: 5px;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 23px;
}

section {
  background-color: #e5e5e5;
  width: 100%;
  height: 60%;
  margin: 0 auto;
}

section h2 {
  font-family: 'Playfair Display', serif;
  padding-bottom: 0.4em;
  font-size: 3.5em;
  font-weight: 300;
  animation-name: anime;
  animation-duration: 10s;
}

@keyframes anime {
  0% {
    color: red;
  }

  25% {
    color: purple;
  }

  50% {
    color: rgb(15, 195, 226);
  }

  100% {
    color: rgb(223, 104, 124);
  }
}

section p {
  width: 90%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
}

.bot {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#bom {
  margin-bottom: 2em;
  width: 100%;
  padding: 1em 4em;
  font-size: 1em;
  background-color: #1a2236;
  color: white;
  text-align: center;
}

@media screen and (max-width: 360px) {
  input[type=button] {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }
}

#section-three {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.soft .My h2 {
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3em;
}

#section-three h2 {
  display: none;
}

.lap {
  width: 100%;
}

.lap img {
  width: 100%;
  height: 100%;
}

.section-plan {
  width: 100%;
  background-color: #1a2236;
  display: flex;
  justify-content: center;
}

.plan {
  width: 90%;
}

.plan h4 {
  color: white;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.btn {
  border: 1px solid white;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  padding: 1em  0.5em;
  font-size: 1em;
  background-color: #1a2236;
  color: white;
  text-align: left;
  line-height: 1.2;
  width: 65%;
  position: relative;
}

.btn .arrowa {
  position: absolute;
  left: 142px;
  bottom: 16px;
}

.btn .arrowr {
  position: absolute;
  left: 142px;
  bottom: 16px;
}

.btn .arrowo {
  position: absolute;
  left: 142px;
  bottom: 16px;
}

.btn .arroww {
  position: absolute;
  left: 142px;
  bottom: 16px;
}

.btn .arrow {
  position: absolute;
  left: 142px;
  bottom: 16px;
}

.btn:hover {
  background-color: white;
  color: #1a2236;
}

.btn :active {
  background-color: #1a2236;
  color: white;
}

.see img {
  position: absolute;
  left: 156px;
  bottom: 15px;
}

.imgg img {
  width: 100%;
  height: 100%;
}

.btn:hover img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

#bom:hover {
  color: #1a2236;
  background-color: white;
}

#bom:active {
  background-color: #1a2236;
  color: white;
}

#ul {
  list-style-type: none;
}

.languages-used li {
  padding: 5px 15px;
  list-style: none;
  border: 1px solid #1a2236;
}

#ul li {
  display: inline-block;
  padding: 0.4em 1em;
  background: #98dede;
  margin-right: 4px;
  margin-bottom: 15px;
}

.see {
  position: relative;
}

.see p {
  width: 60%;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0.9em 0.5em 0.4em;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #fff;
  margin-bottom: 15px;
}

#ultw {
  list-style-type: none;
}

#ultw li {
  display: inline-block;
  padding: 0.4em 1em;
  background: #98dede;
  margin-right: 4px;
  margin-bottom: 15px;
}

#ulth {
  list-style-type: none;
}

#ulth li {
  display: inline-block;
  padding: 0.4em 1em;
  background: #98dede;
  margin-right: 4px;
  margin-bottom: 15px;
}

#ulfo {
  list-style-type: none;
}

#ulfo li {
  display: inline-block;
  padding: 0.4em 1em;
  background: #98dede;
  margin-right: 4px;
  margin-bottom: 15px;
}

#ulfi {
  list-style-type: none;
}

#ulfi li {
  display: inline-block;
  padding: 0.4em 1em;
  background: #98dede;
  margin-right: 4px;
  margin-bottom: 15px;
}

.section-threeb {
  width: 100%;
  background-color: #1a2236;
}

.soft {
  width: 100%;
  padding: 2em 0.5em 0.5em;
  display: flex;
  justify-content: center;
}

.soft .My {
  width: 100%;
  position: relative;
}

.soft .My p {
  font-size: 0.9em;
  font-weight: 400;
  text-align: justify;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2em;
}

.soft .My #cv {
  width: 100%;
  padding: 0.8em 2em;
  background-color: #1a2236;
  color: white;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
}

.soft .My button img {
  position: absolute;
  right: 71px;
  bottom: 18px;
}

#img-download img {
  width: 100%;
  height: 100%;
}

.soft .My #cv:hover {
  color: #1a2236;
  background-color: white;
}

.soft .My #cv:active {
  background-color: #1a2236;
  color: white;
}

#resume img {
  position: absolute;
  left: 130px;
}

#footerimage img {
  padding-right: 2em;
}

#cv:hover img {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.soft .My button .imgarrow {
  position: absolute;
  bottom: 24px;
  right: 76px;
}

.main-lang {
  width: 100%;
  background-color: red;
}

.Languages {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  background-color: #0c427b;
  margin-bottom: 10px;
}

.langmain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lang {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.lang h4 {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1em 0;
  font-size: 1.4em;
}

.lang ul {
  color: white;
  list-style-position: inside;
  font-weight: 600;
  font-size: 1.4em;
}

.tagname {
  display: flex;
  justify-content: right;
}

.Framework {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  background-color: #e2505c;
  margin-bottom: 10px;
}

.cube {
  position: relative;
  display: flex;
  justify-content: right;
}

.cube .rec {
  position: absolute;
  right: 0;
  bottom: 1px;
}

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  background-color: #febf52;
  margin-bottom: 40px;
}

.last {
  width: 100%;
  display: flex;
  justify-content: center;
}

#start {
  width: 90%;
  background-color: #f9f9fa;
}

#Start .place {
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9fa;
}

#start h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.2em;
  padding-bottom: 0.4em;
  padding-left: 0;
  color: #1a2236;
}

#start p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 0.9em;
  color: #1a2236;
}

#bomm {
  margin-bottom: 2em;
  width: 100%;
  padding: 1em 4em;
  font-size: 1em;
  background-color: #1a2236;
  color: white;
  text-align: center;
}

#bomm:hover {
  color: #1a2236;
  background-color: white;
}

#bomm:active {
  background-color: #1a2236;
  color: white;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.check {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.check #email {
  width: 100%;
}

.icons6{
  display: flex;
}

form input {
  padding: 1em 1em 3em;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

input[type="text"] {
  border: 1px solid #dfdfe0;
}

input[type="email"] {
  border: 1px solid #1a2236;
}

input::placeholder {
  position: absolute;
  top: 0;
}

textarea {
  border: 1px solid #dfdfe0;
}

textarea::placeholder {
  padding: 10px;
  font-size: 1.1em;
}

footer {
  margin-top: 20px;
  background-color: #1a2236;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#resume {
  position: relative;
  padding: 2em 0.8em;
  width: 90%;
  color: white;
}

#footerimage {
  width: 100%;
  padding: 0.2em 0.8em;
  margin-bottom: 20px;
}

#main-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: transparent;
  border: 2px solid #b2b3b6;
  z-index: 13;
  overflow: auto;
  width: 80vw;
  height: 85vh;
  padding: 20px 15px;
  background-color: #fff;
}

.popup-close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 0 5px;
  font-size: 35px;
  cursor: pointer;
  color: #1a2236;
}

.about-project .left {
  width: 100vw;
  height: auto;
}

.imgg {
  width: 100%;
  height: auto;
}

.pop-up-body {
  margin: 10px auto;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description {
  color: #30361a;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 4em;
}

#project-description {
  color: #30361a;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 1em;
  text-align: left;
}

.project-name {
  color: #30361a;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  margin: 0;
  text-align: left;
}

.languages-used {
  display: flex;
  gap: 15px;
  font-size: 20px;
  justify-content: left;
  align-items: center;
  margin: 5px auto;
}

#img-download {
  width: 100%;
  max-height: 40vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: none;
  outline: none;
  margin-bottom: 2em;
}

.pop-up-btns {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 70px;
  gap: 62px;
}

.pop-up-btns button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding: 13px;
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: 0;
  margin-top: -38px;
}

.pop-up-btn .live-btn {
  background-color: #fff;
  color: #1a2236;
}

.pop-up-window .bi {
  font-size: 16px;
}

.source-btn {
  background-color: #1a2236;
  color: white;
  position: relative;
}

.hand {
  position: absolute;
  bottom: -30px;
  right: 80px;
}

#main-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-top {
  width: 75vw;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  transition: 0.75s ease;
  background-color: #1a2236;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-prev {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-arrow {
  position: relative;
  display: flex;
  gap: 0.7em;
  min-width: 50%;
}

.right-arrow {
  position: relative;
  display: flex;
  text-align: right;
  gap: 0.7em;
}
